# Dependencies
node_modules/
.venv/

# OS
.DS_Store

# Private
.env
.claude/settings.local.json

# Other
.fallow

# Outputs
LOG
episodes/*
!episodes/.gitkeep
www/dist/
www/src/_data/stats.json
www/src/_episodes/
www/src/img/episodes/
