{% macro episodeMeta(episode) %}
  <time datetime="{{ episode.rss.pubDate }}">
    {{- episode.rss.pubDate | formatLongDate -}}
  </time>
  <span class="duration">
    {{- episode.rss.duration.seconds | formatRoundedHuman -}}
  </span>
  {%- if episode.supplement.location %}
    <span class="location">{{ episode.supplement.location }}</span>
  {%- endif %}
{% endmacro %}
