---
layout: base.njk
permalink: /about.html
stylesheet: /css/about.css
title: About
isAboutPage: true
---
<div class="about-page wrapper">
  <h1>About This Site</h1>

  <p>{{ site.descriptionHtml | safe }}</p>

  <p>This site aims to be a companion to the podcast: a map, a wayfinder, another way to roam the episodes. Concretely, it is a collection of transcripts made cross-episode searchable (unlike on platforms such as Apple Podcasts or YouTube.)</p>

  <p>Listen and follow <b>Roaming Holiday</b> at <a href="https://podcasts.apple.com/us/podcast/roaming-holiday/id1708646675">Apple Podcasts</a>, <a href="https://open.spotify.com/show/3SxMKIOKJwbgUs3fbwSncD">Spotify</a>, <a href="https://www.youtube.com/playlist?list=PLHsvN4hgousAB1aBl-dDwIs_JaBMGMvQd">YouTube</a>, and other platforms.</p>

  <aside class="roaming-by-numbers">
    <h2>Roaming by Numbers</h2>

    <section>
      <h3>Podcast Stats</h3>
      <dl>
        <dt>Total episodes</dt>
        <dd>{{ stats.totalEpisodes }} episodes</dd>

        <dt>Total length</dt>
        <dd>{{ stats.totalDurationSeconds | formatRoundedHuman }}</dd>

        <dt>Average episode length</dt>
        <dd>{{ stats.averageEpisodeDurationSeconds | formatRoundedHuman }}</dd>

        <dt>Longest episode</dt>
        <dd><a href="{{ stats.longestEpisode.url }}">{{ stats.longestEpisode.title }}</a> ({{ stats.longestEpisode.durationSeconds | formatRoundedHuman }})</dd>

        <dt>Shortest episode</dt>
        <dd><a href="{{ stats.shortestEpisode.url }}">{{ stats.shortestEpisode.title }}</a> ({{ stats.shortestEpisode.durationSeconds | formatRoundedHuman }})</dd>
      </dl>
    </section>

    <section>
      <h3>Transcription Stats</h3>
      <dl>
        <dt>Transcribed episodes</dt>
        <dd>{{ stats.totalTranscribedEpisodes }} episodes</dd>

        <dt>Total transcribed words</dt>
        <dd>
          {{- stats.totalTranscribedWordCount | formatNumber }} words
          <aside>
            {%- set bibleCount = stats.totalTranscribedWordCount / 750000 %}
            or
            <span class="bible-count-emojis" title="{{ bibleCount | formatDecimal }}"}>
              {{- bibleCount | bibleEmojis | safe -}}
            </span>
            {{ 'New American Bible Revised Edition' | pluralize(bibleCount) }}
          </aside>
        </dd>

        <dt>Average words per episode</dt>
        <dd>{{ stats.averageTranscribedEpisodeWordCount | formatNumber }} words</dd>

        <dt>Wordiest episode</dt>
        <dd><a href="{{ stats.wordiestEpisode.url }}">{{ stats.wordiestEpisode.title }}</a> ({{ stats.wordiestEpisode.wordCount | formatNumber }} words)</dd>

        <dt>Tersest episode</dt>
        <dd><a href="{{ stats.leastWordiestEpisode.url }}">{{ stats.leastWordiestEpisode.title }}</a> ({{ stats.leastWordiestEpisode.wordCount | formatNumber }} words)</a></dd>
      </dl>
    </section>

    <section>
      <h3>Fuck Stats</h3>
      <dl>
        <dt>Total fucks</dt>
        <dd>{{ stats.totalFucks | formatNumber }} fucks</dd>

        <dt>Average fucks per episode</dt>
        <dd>{{ stats.averageFucks | formatDecimal }} fucks</dd>

        <dt>Most fucks given</dt>
        <dd><a href="{{ stats.mostFucks.url }}">{{ stats.mostFucks.title }}</a> ({{ stats.mostFucks.wordCount | formatNumber }} fucks)</dd>

        <dt>Greatest fucks per hour</dt>
        <dd><a href="{{ stats.mostFucksPerHour.url }}">{{ stats.mostFucksPerHour.title }}</a> ({{ stats.mostFucksPerHour.fucksPerHour | formatDecimal }} fucks/hour)</dd>
      </dl>
    </section>
  </aside>

  <h2>Technical Notes</h2>

  <p>Episodes are transcribed by a <a href="https://github.com/linto-ai/whisper-timestamped">Whisper</a> speech-recognition model, run with the base model and word-level timestamps.</p>

  <p>Whisper hears speech but not the shape of a conversation, so paragraphing and sectioning are inferred from the audio itself. Paragraph breaks are identified with the <a href="https://github.com/snakers4/silero-vad">Silero voice-activity model</a> which detects speech intervals and episode sections are identified with <a href="https://github.com/MTG/essentia/tree/master">Essentia's</a> fade detector.</p>

  <p>Finally, the site is statically generated with <a href="https://www.11ty.dev/">Eleventy</a> and hosted on <a href="https://pages.github.com/">GitHub Pages</a>. Indexing of transcripts are by <a href="https://pagefind.app/">Pagefind</a>.</p>
</div>
