---
layout: base.njk
stylesheet: /css/episode.css
scripts:
  - /js/timeline.js
  - /js/youtube.js
pagination:
  data: episodes
  size: 1
  alias: episode
  addAllPagesToCollections: true
permalink: "{{ episode.url }}"
tags: episode
eleventyComputed:
  title: "{{ episode.episodeNumber }}. {{ episode.title }}"
---
{% from "macros/episodeMeta.njk" import episodeMeta %}

<article class="episode">
  <header>
    {% if episode.youtube %}
      <div class="js-video-sentinel episode--video-container">
        <iframe
          class="episode--video js-video"
          src="https://www.youtube-nocookie.com/embed/{{ episode.youtube | youtubeId }}?fs=0&enablejsapi=1"
          title="Episode {{ episode.episodeNumber }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>

        <aside class="episode--video-shortcuts">
          <dl class="episode--video-shortcuts-list">
            <dt>
              <kbd class="key-icon key-icon__space js-key-icon-space" title="Space key">Space</kbd>
            </dt>
            <dd>Play/pause</dd>

            <dt>
              <kbd class="key-icon js-key-icon-left" title="Left-arrow key">←</kbd>
              <kbd class="key-icon js-key-icon-right" title="Right-arrow key">→</kbd>
            </dt>
            <dd>Skip forward/back</dd>

            <dt>
              <kbd class="key-icon js-key-icon-up" title="Up-arrow key">↑</kbd>
              <kbd class="key-icon js-key-icon-down" title="Down-arrow key">↓</kbd>
            </dt>
            <dd>Volume up/down</dd>

            <dt>
              <kbd class="key-icon js-key-icon-m" title="m key">M</kbd>
            </dt>
            <dd>Mute/unmute</dd>

            <dt>
              <svg class="pointer-icon" viewBox="0 0 17 21.2">
                <path style="fill:var(--color-black)" d="M14.6 13.6 6.4 5.4v11.2l2.5-2.4 2.3 5.6 1.9-.7-2.3-5.5z"/>
                <path style="fill:none;stroke:var(--color-black);stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px" d="m.9 8.7 2.5-.8m6.8-2.4 2.5-.8M4.8.8l.9 2.6M1.1 4l2.4 1.2m6.2-4.1L8.4 3.5"/>
              </svg>
            </dt>
            <dd>Double-click the transcript to play that segment</dd>
          </dl>
        </aside>
      </div>
    {% else %}
      <img
        src="{% imageUrl episode.imagePath, 1000 %}"
        alt="Episode {{ episode.episodeNumber }}"
        class="episode--image"
      >
    {% endif %}

    <h1 class="episode--title wrapper">
      <span class="c-episode-number">#{{ episode.episodeNumber }}</span>
      {{ episode.title }}
    </h1>
    <p class="wrapper">
      {{- episode.description -}}
    </p>
    <p class="episode--meta c-episode-meta wrapper">
      {{- episodeMeta(episode) -}}
    </p>
  </header>

  <div class="episode--content wrapper">
    <p class="episode--content-warning">All transcripts are machine generated.</p>

    <section class="episode--transcript" data-transcript>
      <h2>Transcript</h2>
      {%- for paragraph in episode.paragraphs %}
        {%- if loop.index0 in episode.fadePairStarts %}
          <hr>
        {%- endif %}
        {# Numeric IDs is bad practice but, here, is strictly for dev usage. #}
        <p id="{{ loop.index0 }}">
          {%- for segment in paragraph %}
            {%- if segment.timelineMarker and loop.index0 != 0 %}
              <time class="timeline-marker" data-time="{{ segment.start }}">
                {{- segment.start | formatRoundedTimecode -}}
              </time>
            {%- endif %}
            <span data-start="{{ segment.start }}" data-end="{{ segment.end }}">
              {{- segment.text -}}
            </span>
          {%- endfor %}
        </p>
      {%- endfor %}
    </section>
  </div>
</article>
