---
layout: base.njk
scripts:
  - /js/timeline.js
  - /js/youtube.js
pagination:
  data: episodes
  size: 1
  alias: episode
  addAllPagesToCollections: true
permalink: "{{ episode.url }}"
tags: episode
eleventyComputed:
  title: "{{ episode.episodeNumber }}. {{ episode.title }}"
---
{% from "macros/episodeMeta.njk" import episodeMeta %}

<article class="episode">
  <header>
    {% if episode.youtube %}
      <div class="js-video-sentinel">
        <iframe
          class="episode--video js-video"
          src="https://www.youtube-nocookie.com/embed/{{ episode.youtube | youtubeId }}?fs=0&enablejsapi=1"
          title="Episode {{ episode.episodeNumber }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>
      </div>
    {% else %}
      <img
        src="{% imageUrl episode.imagePath, 1000 %}"
        alt="Episode {{ episode.episodeNumber }}"
        class="episode--image"
      >
    {% endif %}

    <h1 class="episode--title wrapper">
      <span class="c-episode-number">#{{ episode.episodeNumber }}</span>
      {{ episode.title }}
    </h1>
    <p class="wrapper">
      {{- episode.description -}}
    </p>

    <p class="episode--meta c-episode-meta wrapper">
      {{- episodeMeta(episode) -}}
    </p>
  </header>

  <div class="episode--content wrapper">
    <p class="episode--content-warning">All content below have been AI generated.</p>

    {%- if episode.summary %}
      <section class="episode--summary">
        <h2>Summary</h2>
        <p>{{ episode.summary }}</p>
      </section>
    {%- endif %}

    <hr>

    <section class="episode--transcript" data-transcript>
      {%- for paragraph in episode.paragraphs %}
        {%- if loop.index0 in episode.fadePairStarts %}
          <hr>
        {%- endif %}
        {# Numeric IDs is bad practice but, here, is strictly for dev usage. #}
        <p id="{{ loop.index0 }}">
          {%- for segment in paragraph %}
            {%- if segment.timelineMarker %}
              <time class="timeline-marker" data-time="{{ segment.start }}">
                {{- segment.start | formatRoundedTimecode -}}
              </time>
            {%- endif %}
            <span data-start="{{ segment.start }}" data-end="{{ segment.end }}">
              {{- segment.text -}}
            </span>
          {%- endfor %}
        </p>
      {%- endfor %}
    </section>
  </div>
</article>
