---
layout: base.njk
isIndexPage: true
---
{% from "macros/episodeMeta.njk" import episodeMeta %}

<nav class="episodes--timeline wrapper">
  Taiwan ← China ← S. Korea ← Japan ← Canada
</nav>

<ul class="episode-list wrapper">
  {%- for item in collections.episode | reverse %}
    {%- set episode = item.data.episode %}
    <li class="episode-card">
      <a
        href="{{ item.url }}"
        class="episode-card--thumb-link"
      >
        <img
          src="{% imageUrl episode.imagePath, 300 %}"
          alt="Episode {{ episode.episodeNumber }}"
          class="episode-card--thumb"
          loading="lazy"
        >
      </a>

      <header class="episode-card--header">
        <h2>
          <a
            href="{{ item.url }}"
            class="episode-card--title-link"
          >
            <span class="episode-card--episode-number c-episode-number">#{{ episode.episodeNumber }}</span>
            <span class="episode-card--title">{{ episode.title }}</span
          </a>
        </h2>

        <p class="episode-card--description">
          {{- episode.description -}}
        </p>

        <p class="episode-card--meta c-episode-meta">
          {{- episodeMeta(episode) -}}
        </p>
      </header>
    </li>
  {%- endfor %}
</ul>
