<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if title %}
        {{ title }} — {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ '/style.css' | hashUrl }}">
    {% for src in scripts %}
      <script src="{{ src | hashUrl }}" defer></script>
    {% endfor %}
  </head>

  <body>
    <header class="wrapper">
      {% set headerTag = "h1" if isIndexPage else "h2" %}
      <{{ headerTag }} class="site-header--title">
        <a
          href="{{ '/' | url }}"
          class="site-header--title-link {% if isIndexPage %}site-header--title-link__index-page{% endif %} no-highlight"
        >
          {{- site.title -}}
        </a>
      </{{ headerTag }}>

      {% if not isAboutPage %}
        <p class="tighten">
          {{- site.descriptionHtml | safe }}
          <a href="{{ '/about/' | url }}" class="site-header--about-link">About this site</a>
        </p>
      {% endif %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="site-footer wrapper">
      <nav class="site-footer-nav">
        <a href="#" class="site-footer--top-link no-highlight">Return to top</a>
      </nav>
    </footer>
  </body>
</html>
