@import url('@dmkishi/css-reset/dist/reset.css') layer(reset);

:root {
  --max-width: 700px;

  --gutter: 1.5rem;
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-third: calc(var(--gutter) / 3);
  --space-1: 1rem;
  --space-2: 2rem;
  --click-offset: .75px;

  --rule-width: 3px;
  --rule-space: 3.666rem;
  --underline-thickness: 1.125px;

  --font-x-small: .75rem; /* 12px - Episode meta and timecode */
  --font-small: 1rem; /* 16px - Index description */
  --font-base: 1.125rem; /* 18px */
  --font-large: 1.3125rem; /* 21px - <h2> */
  --font-x-large: 2rem; /* 32px - <h1> */

  --font-timecode: ui-monospace, 'SF Mono', monospace;
  --font-line-height-regular: 1.5;
  --font-line-height-tighter: 1.45;
  --font-line-height-tight: 1.333;
  --font-line-height-x-tight: 1.25;
  --font-line-height-xx-tight: 1.2;

  --color-bg: #f0ead6;
  --color-black: #1c1917;
  --color-black-light: oklch(from var(--color-black) calc(l + .333) c h);
  --color-tint-1: rgb(from var(--color-black) r g b / 5%);
  --color-tint-2: rgb(from var(--color-black) r g b / 15%);
  --color-warning: #ce5656;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  background-color: var(--color-bg);
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  align-items: center;
  margin-block: var(--space-1);
  font-size: var(--font-base);
  color: var(--color-black);

  @media (width < 500px) {
    gap: var(--gutter-half);
  }
}

main {
  align-self: stretch;
}

hr {
  border: none;
  border-top: 1px solid var(--color-black);
}

body, button, h1, h2, h3, h4, input, label {
  line-height: var(--font-line-height-regular);
}

h1 { font-size: var(--font-x-large); }
h2 { font-size: var(--font-large); }
h3 { font-size: var(--font-base); }

a {
  color: var(--color-black);
  text-decoration-thickness: var(--underline-thickness);
  text-underline-offset: 1.25px;
  transition: background-color .2s ease;

  &:hover {
    background-color: var(--color-tint-1);
    transition: background-color 0s ease;
  }

  &.no-highlight:hover {
    background-color: transparent;
  }
}

/* -----------------------------------------------------------------------------
 * Utility
 * -------------------------------------------------------------------------- */
.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.tighten {
  margin-block: .0625em;
  font-size: var(--font-small);
  line-height: var(--font-line-height-tighter);
}

/* -----------------------------------------------------------------------------
 * Components
 * -------------------------------------------------------------------------- */
.c-episode-number {
  --unit: .0625em;

  position: relative;
  top: calc(var(--unit) * -5);
  display: inline-block;
  min-width: 1.75em;
  margin-right: var(--unit);
  padding: calc(var(--unit) * 3) calc(var(--unit) * 3) calc(var(--unit) * 2.5);
  border: var(--unit) solid black;
  border-radius: calc(var(--unit) * 2);
  font-size: 50%;
  line-height: 1;
  text-align: center;
}

.c-episode-meta {
  font-size: var(--font-x-small);
  color: var(--color-black-light);
  text-transform: uppercase;

  & .duration::before,
  & .location::before {
    content: '\00b7';
    margin-inline: .45em .7em; /* Balance spacing */
  }
}

/* -----------------------------------------------------------------------------
 * Layout
 * -------------------------------------------------------------------------- */
.site-header--title {
  font-size: var(--font-base);
}

.site-header--title-link {
  position: relative;
  text-decoration: none;

  &::before {
    content: '←';
    position: absolute;
    top: -.2em;
    right: calc(100% + 0.2em);
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    &&::before {
      top: calc(-.2em + var(--click-offset));
    }
  }
}

.site-header--title-link__index-page {
  &::before {
    display: none;
  }
}

.site-header--about-link {
  position: relative;
  top: -.05em;
  left: .0333em;
  font-size: var(--font-x-small);
  text-decoration-thickness: var(--underline-thickness);
  text-underline-offset: 1.5px;
  text-transform: uppercase;

  &::after {
    content: '→';
    position: absolute;
    top: -.2em;
    left: calc(100% + .25em);
  }

  &:active {
    &&::after {
      top: calc(-.2em + var(--click-offset));
    }
  }
}

.site-footer {
  margin-top: var(--rule-space);
}

.site-footer-nav {
  padding-top: 10px;
  border-top: var(--rule-width) solid var(--color-black);
}

.site-footer--top-link {
  text-decoration: none;

  &::before {
    content: '↑';
    position: relative;
    top: -.1em;
    margin-right: .25em;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    &&::before {
      top: calc(var(--click-offset));
    }
  }
}
