@import url('./_base.css');

.about-page {
  line-height: var(--font-line-height-tighter);

  p {
    margin-bottom: 1em;

    &:first-of-type {
      font-size: var(--font-large);
    }
  }
}

.roaming-by-numbers {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-block: var(--gutter);
  padding: 1.125rem 2rem 1.666rem;
  background-color: var(--color-tint-1);
  font-style: italic;

  @media (width < 500px) {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;

    dl {
      column-gap: var(--gutter-half);
    }
  }

  section {
    display: contents;
  }

  h2,
  h3,
  dl {
    grid-column: 1 / -1;
  }

  h3 {
    margin-top: var(--space-1);
  }

  dl {
    display: grid;
    grid-template-columns: subgrid;
    gap: 0 var(--gutter);
    font-size: var(--font-small);
  }

  dt {
    &::after {
      content: ':';
    }
  }

  dd {
    font-style: normal;
  }
}

.bible-count-emojis {
  margin-inline: .2em -.125em;
  letter-spacing: .2em;
  text-shadow: 0 1px 2px rgb(0 0 0 / 33%);
}

.bible-half {
  display: inline-block;
  clip-path: inset(40% 0 0 0);
}
